---
import PageLayout from "../layouts/page-layout.astro";
import { destinations } from "../data.json";
---

<PageLayout>
  <div class="wrapper">
    01 Pick your destination

    <ul>
      {destinations.map((destination) => <li>{destination.name}</li>)}
    </ul>
  </div>
</PageLayout>

<style>
  body {
    background-image: url("./destination/background-destination-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
  }
  @media only screen and (max-width: 768px) {
    body {
      background-image: url("./destination/background-destination-tablet.jpg");
    }
  }

  @media only screen and (max-width: 480px) {
    body {
      background-image: url("./destination/background-destination-mobile.jpg");
    }
  }
</style>
