<nav>
  <ul>
    <li>
      <a href="/" target="_blank" rel="noopener noreferrer"> 00 Home</a>
    </li>
    <li>
      <a href="/destination" target="_blank" rel="noopener noreferrer"> 01 Destination</a>
    </li>
    <li>
      <a href="#" target="_blank" rel="noopener noreferrer"> 02 Crew</a>
    </li>
    <li>
      <a href="/technology" target="_blank" rel="noopener noreferrer"> 03 Technology</a>
    </li>
  </ul>
</nav>
