---
import Navbar from "../components/navbar.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png" />
    <title>Frontend Mentor | Space tourism website</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>

  <style lang="scss" is:global>
    @import "../styles/_fonts.scss";

    body {
      display: flex;
      flex-direction: column;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    ul {
      list-style-type: none;
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      max-width: 1110px;
      margin: 0 auto;
      flex-grow: 1;
      margin-bottom: 130px;
      max-height: 900px;
      .left {
        max-width: 450px;
      }
    }
  </style>
</html>
